.dialogs {
  
  color: white;
  font-size: 16px;
  
}

.content {
  display: block;
}

.userLink{
  color: white;
  display: inline-block;
  margin-left: 20px;
  font-weight: 600;
}

.activeLink {
  margin-left: 10px;
  font-weight: 600;
}

a, .userLink:hover {
  color: blueviolet;
}

.title {
  font-size: 36px;
  font-weight: bold;
  display: inline-block;
  margin-bottom: 50px;
}

.message-users {
  font-size: 30px;
}

.info {
  display: flex;
  justify-content: space-between;
  max-height:50vh;
  min-height:50vh;
}

.messages, .users {
  font-size: 18px;
  padding: 5px;
  border: 1px solid white;
}

.users {
  flex: 0 1 30%;
  margin-right: 20px;
}

.user {
  margin: 10px 0;
  padding: 5px;
  display: flex;
  align-items: center;
}

.messages {
  display: flex;
  flex: 0 1 70%;
  text-align: left;
  position: relative;
  flex-direction: column;
}
.wrapper {
  max-height: 60vh;

}

.message {
  padding-left: 5px;
  margin: 15px 0;
  display: flex;
  align-items: center;
}
.message:nth-child() {
   margin-left: auto;
}

.text {
  margin-left: 20px;
}

.avatar, .avatar img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: inline-block;
}

/* .messages::before {
  content: '';
  width: 1px;
  height: 100%;
  position: absolute;
  display: inline-block;
  background-color: white;
  left: -10%;
  z-index: 10;
} */

.messageSend {
  padding: 5px;
  position: relative;
  display: flex;
  margin-top: auto;
}

.form {
  width: 100%;
  display: flex;
  align-items: center;
}
.textarea {
  width: 100%;
}
.messageSend textarea {
  background-color:rgba(240, 248, 255, 0);
  color: white;
  border: 1px solid white;
  padding: 10px;
  width: 100%;
  resize: none;
}

.newMessageElement {
}

.button {
  width: 15%;
  height: 100%;
  margin-left: 10px;
  display: block;
  padding: 10px;
  background-color:blueviolet;
  color: white;
  font-size: 18px;
  border-radius: 0px !important;
}

.form {
  position: relative;
}
.err {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 10px;
  font-size: 12px;
  color: red;
}