.content {
  color: white;
}


.avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: block;
}

.element:nth-child(1) {
  flex: 0 1 15%;
}

.element:nth-child(2) {
  flex: 0 1 60%;
}

.element:nth-child(3) {
  flex: 0 1 20%;
  text-align: right;
}

.user {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  border: 1px solid white;
  padding: 10px;
}

.follow {
  margin-top: 10px;
  padding: 15px 25px;
  background-color: blueviolet;
  color: white;
  font-size: 18px;
}

.follow:hover {
  
  background-color: rgb(112, 16, 202);
}

.pagination {
  display: flex;
  align-items: center;
}

.pagination span {
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  margin-right: 10px;
  display: inline-block;
  border: 1px solid white;
  padding: 5px;
  
}
 .select {
  display: inline-block;
  color: blueviolet;
  margin-right: 10px;
  font-size: 18px;
  font-weight: bold;
}
.title {
  font-size: 36px;
  font-weight: bold;;
  margin-bottom: 50px;
}
.pagination {
  margin-bottom: 20px;

}
.paginationPrev {
  margin-right: 20px;
}
.paginationNext {
  margin-left: 10px;
}

.paginationPrev,
.paginationNext {
  padding: 5px;
  font-size: 16px;
  color:white;
  font-weight: bold;
  background-color: rgb(63, 63, 63);
  border: 1px solid white;
}


.paginationPrev:hover,
.paginationNext:hover {
  color: blueviolet;
  background-color: rgb(63, 63, 63);
  
  border: 1px solid blueviolet;
}

button:disabled {
  background-color: rgb(63, 63, 63);
  color: white;
  transition: .1s ease-in-out;
}
button:disabled:hover {
  background-color: rgb(63, 63, 63);
  color: white;
  transition: .1s ease-in-out;
}