.content {
  color: white;
}

.title {
  font-size: 36px;
  font-weight: bold;
  display: inline-block;
  margin-bottom: 50px;
}
.avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: block;
}

.element:nth-child(1) {
  flex: 0 1 15%;
}

.element:nth-child(2) {
  flex: 0 1 60%;
}

.element:nth-child(3) {
  flex: 0 1 20%;
  text-align: right;
}

.user {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  border: 1px solid white;
  padding: 10px;
}

.follow {
  margin-top: 10px;
  padding: 15px 25px;
  background-color: blueviolet;
  color: white;
  font-size: 18px;
}

.follow:hover {
  
  background-color: rgb(112, 16, 202);
}